<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <link rel="stylesheet" href="lib/bootstrap.css">
</head>
<body>
    <div id="app" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>ID:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label>
                    Name:
                    <input type="text" class="form-control" v-model="name">
                </label>
                <input type="button" value="添加" class="btn btn-primary" @click="add">
                <label>
                    搜索关键字：
                    <input type="text" class="form-control" v-model="keyWord">
                </label>
            </div>
        </div>

        <table class="table table-bordered  table-hover "> 
            <thead>
                <tr>   
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!-- v-for指令可以访问到Vue里面所有数据 -->
                <tr v-for="item in search(keyWord)" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ctime }}</td>
                    <td>
                        <!-- 要阻止默认行为 -->
                        <!-- 登录注册忘记密码就是这样做 -->
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                id:'',
                name:'',
                list:[
                    {id:1,name:'奔驰', ctime: new Date()},
                    {id:2,name:'宝马', ctime: new Date()}
                ],
                keyWord:''
            },
            methods:{
                add(){
                    var obj = {id:this.id, name: this.name, ctime: new Date()};
                    this.list.push(obj);
                    this.id = this.name = '';
                },
                // del(id){
                //     this.list.some((item,i)=>{
                //         if(item.id == id){
                //             this.list.splice(i,1);
                //             return true;
                //         }
                //     })
                // }
                del(id){
                    var index = this.list.findIndex(item=>{
                        if(item.id == id){
                            return true;
                        }
                    })
                    this.list.splice(index,1)
                },
                // search(keyWord){
                //     var newList = [];
                //     this.list.forEach(item=>{
                //         if(item.name.indexOf(keyWord) != -1)
                //              newList.push(item)
                //     })
                //     return newList;
                // }
                search(keyWord){
                    // forEach some filter findIndex
                    var newList = [];
                    return this.list.filter(item=>{
                        if(item.name.includes(keyWord))
                            return item;
                    })
                }
            }
        })
    </script>
</body>
</html>